.chat {
  flex: 2;
  background-color: #d9d7d7;

  .chatInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    background-color: var(--color-accent-100);
  }

  .chatIcons {
    display: flex;
    gap: 10px;
  }

  .chatPlaceholder {
    color: var(--color-dark-900);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
}
